.background-color-completed {
  background-color: #C8A5FF;
}

.background-color-not-completed {
  background-color: #E8DEF8;
}

.background-color-in-progress {
  background: linear-gradient(
    to left,
    #E8DEF8 calc((var(--remaining-time) / var(--total-mins)) * 100%),
    #C8A5FF calc((var(--remaining-time) / var(--total-mins)) * 100%),
    #C8A5FF 100%
  );
}

.background-color-break {
  background-color: #C8A5FF;
}

.entire-indicator div {
  border-radius: 0.25rem;
  width: 1.8rem;
  height: 0.8rem;
}