.background-color-completed {
  background-color: rgb(32, 183, 65);
}

.background-color-not-completed {
  background-color: lightgray;
}

.background-color-in-progress {
  background: linear-gradient(
    to left,
    lightgray calc((var(--remaining-time) / var(--total-mins)) * 100%),
    rgb(32, 183, 65) calc((var(--remaining-time) / var(--total-mins)) * 100%),
    rgb(32, 183, 65) 100%
  );
}

.background-color-break {
  background-color: rgb(32, 183, 65);
}