.progress {
  /**
  z-index: -100;
  position: fixed;

  This takes progress bar out of the normal flow of the document and places it behind everything else.

  We need to figure out a way for the progress bar to traverse the permater of the timer portion of the screen.
  */
  z-index: -100;
  background-color: red;
  border: 5px solid black;
}
