/** Controls the timer layout */

/**
1.) reduce timer height and width size
*/

.main-timer h1 {
  font-size: 8rem;
}


.entire-timer {
  border: 10px solid white;
  border-radius: 20px;

  /* Center the timer */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh;
  height: 95vh;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  position: relative;
  z-index: 2;
}

.border {
  background-color: rgb(9, 187, 9);
  position: relative;
  overflow: hidden;
}