/** Controls the timer layout */

/**
1.) reduce timer height and width size
*/

.main-timer h1 {
  font-size: 8rem;
}


.entire-timer {
  border: 10px solid white;
  border-radius: 20px;

  /* Center the timer */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh;
  height: 94vh;
  flex-direction: column;
  background-color: white;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
  position: relative;
  z-index: 2;

  /** Sunny's todo: Fix timer alignment here */
}

.border {
  background-color: rgb(51, 54, 63);
  position: relative;
  overflow: hidden;
}