.play-pause-btn {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-icon, .pause-icon {
  position: absolute;
  transition: all 0.3s ease;
  color: #43296B;
  font-size: 1.8rem;
}

.play-icon {
  opacity: 1;
  transform: scale(1);
}

.pause-icon {
  opacity: 0;
  transform: scale(0.5) rotate(-90deg);
}

.play-pause-btn.paused .play-icon {
  opacity: 0;
  transform: scale(0.5) rotate(90deg);
}

.play-pause-btn.paused .pause-icon {
  opacity: 1;
  transform: scale(1) rotate(0);
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.play-pause-btn:active {
  animation: rotate 0.3s ease-in-out;
}

/** Controls the timer layout */

/**
1.) reduce timer height and width size
*/

.main-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.main-timer h1 {
  font-size: 8rem;
}


.entire-timer {
  border: 10px solid white;
  border-radius: 20px;

  /* Center the timer */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5vh;
  height: 95vh;
  flex-direction: column;
  background-color: white;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
  position: relative;
  z-index: 2;
}

.border {
  background-color:#43296B;
  position: relative;
  overflow: hidden;
}