.background-color-completed {
  background-color: green;
}

.background-color-not-completed {
  background-color: lightgray;
}

.background-color-in-progress {
  background: linear-gradient(
    to left,
    lightgray calc((var(--remaining-time) / var(--total-mins)) * 100%), /* Grey up to the percentage of remaining time */
    yellow calc((var(--remaining-time) / var(--total-mins)) * 100%), /* Yellow from that percentage to the end */
    yellow 100% /* Ensure yellow extends to the end */
  );
}

